<IfModule mod_rewrite.c>
    RewriteEngine On

    # Let CORS preflight hit Laravel
    RewriteCond %{REQUEST_METHOD} =OPTIONS
    RewriteRule ^ index.php [L]
    # front controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>
